<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小米登陆页面</title>
    <link rel="stylesheet" href="../aessets/css/login.css">
    <script async src="../aessets/js/login.js" type="module"></script>
</head>

<body>
    <aside></aside>
    <main>
        <nav>
            <p>小米账号</p>
            <ul>
                <li><a href="">用户协议</a> </li>
                <li><a href="">隐私政策</a> </li>
                <li><a href="">帮助中心</a> </li>
                <li><a href="">中文（简体）</a>
                    <a href=""></a>
                </li>
            </ul>
        </nav>
        <section>
            <form>
                <nav>
                    <a href="javascript:;" id="onLogin" class="click">登录</a>
                    <a href="javascript:;" id="onRegest">注册</a>
                    <table></table>
                </nav>
                <nav id="login">
                    <ul>
                        <li><input type="text" placeholder="请输入账号" id="username"></li>
                        <li><input type="password" placeholder="请输入密码" id="pwd"> </li>
                        <li>
                            <input type="checkbox" id="d1">&nbsp;
                            <label for="d1">已阅读并同意小米账号</label>&nbsp;
                            <a href="">用户协议</a>&nbsp;和 &nbsp;
                            <a href="">隐私协议</a>
                        </li>
                        <li><button id="btnsubmit">登录</button></li>
                        <li>
                            <a href="">忘记密码？</a>
                            <a href="">手机号登录</a>
                        </li>
                        <li>其他方式登录</li>
                        <li>
                            <a href="" class="k1"></a>
                            <a href="" class="k2"></a>
                            <a href="" class="k3"></a>
                            <a href="" class="k4"></a>
                        </li>
                    </ul>
                </nav>
                <nav id="regest">
                    <ul>
                        <li><input type="text" placeholder="请输入昵称" id="nickname"></li>
                        <li><input type="text" placeholder="请输入账号" id="usernamere"></li>
                        <li><input type="password" placeholder="请输入密码" id="pwdre"> </li>
                        <li><input type="password" placeholder="请重复输入密码" id="repwd"></li>
                        <li>
                            <input type="checkbox" id="d1re">&nbsp;
                            <label for="d1re">已阅读并同意小米账号</label>&nbsp;
                            <a href="">用户协议</a>&nbsp;和 &nbsp;
                            <a href="">隐私协议</a>
                        </li>
                        <li><button id="btnsubmitre">注册</button></li>
                        <li>
                        </li>
                        <li>其他方式登录</li>
                        <li>
                            <a href="" class="k1"></a>
                            <a href="" class="k2"></a>
                            <a href="" class="k3"></a>
                            <a href="" class="k4"></a>
                        </li>
                    </ul>
                </nav>
            </form>
        </section>
        <footer>小米公司版权所有-京ICP备10046444-京公网安备11010802020174号-京ICP证1105074</footer>
    </main>
</body>

</html>